

/*ESTE ES EL FORMATO PARA LA PAGINA DE INICIO*/
input, select, textarea{
  color:#6A3E37;
}

input:focus{
  outline: none !important;
  border:1px solid  #6A3E37;
  box-shadow: 0 0 10px #E0ACD5;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #F4EBE8;
}
/*general*/
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3993DD;
}

/*rectangulo de la pagina de inicio */
.container {
  max-width: 500px;
  padding: 20px;
  box-shadow: 6px 5px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #6A3E37;
}
/*titulo*/
h1 {
  text-align: center;
  margin-bottom: 10px;
}

/*el paragrafito de abajo del titulo*/

p {
  text-align: center;
  margin-bottom: 20px;
}

/*formato de como se esta organizada el formulario de INICIO/REGISTRO*/
form {
  display: flex;
  flex-direction: column;
}
/*pregunta*/
label {
  margin-bottom: 5px;
  font-weight: bold;
}
/*cajas de respuesta*/
input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*boton de envio*/
input[type="submit"] {
  background-color: #6A3E37;
  color: #E0ACD5;
  border: 1px solid #E0ACD5;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #E0ACD5;
  color: #6A3E37;
}


/*formato para el hipervinculo que te manda al otro formulario dependiendo de si tengas cuenta o no*/
a {
  text-align: center;
  display: block;
  margin-top: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #E0ACD5;
}

.link{
  margin-top: 15px;
}

.link a{
  display: inline;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}
