/*ESTE ES EL FORMATO PARA LAS PAGINAS DE REGISTRO A LOS CURSOS*/

/* formato general*/ 


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #F4EBE8;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3993DD;
}
/* formato del titulo*/ 
.titulo {
  background-color: #6A3E37;
  padding: 20px;
  text-align: center;
}

/* Creacion del rectangulo del formulario y su diseño*/ 
.formulario {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #6A3E37;
  background-color: #6A3E37;
  border-radius: 10px;
  box-shadow: 6px 5px 6px rgba(0, 0, 0, 0.2);
}


/* preguntas*/ 
label {
  display: block;
  margin-top: 10px;
}

/*cuadro de respuestas*/
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/*botones*/
input[type="radio"] {
  margin-right: 5px;
  accent-color: #E0ACD5 
}

.curso-fecha input[type="radio"], .curso-fecha label{
  display: inline;
}

input, select, textarea{
  color:#6A3E37;
}

input[type="text"]:focus{
  outline: none !important;
  border:1px solid  #6A3E37;
  box-shadow: 0 0 10px #E0ACD5;
}


/*diesño del boton enviar*/
.boton-enviar {
  background-color: #6A3E37;
  color: #E0ACD5;
  border: 1px solid #E0ACD5;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/*diseño cuando se le pone el mouse encima*/
.boton-enviar:hover {
  background-color: #E0ACD5;
  color: #6A3E37;
}

/* Responsive Design */
@media (max-width: 600px) {
  .formulario {
      max-width: 90%;
  }
}
